
/*Font for Title*/
h1{
  color: #ff6666;
  font-size: 78px;
  font-family: 'Bungee Shade', cursive;
  }

/*Font for body*/
h2{
  color: #ff9999;
  font-family: 'Bungee Shade', cursive;
 }

/*Bio*/
#bio{
  color: #a3a375;
  font-family: 'BioRhyme', serif;
}

/*body*/
h4{
  font-family: 'BioRhyme', serif;
  color: #a3a375;
}

#moreAboutMe{
  color: #a3a375;
  font-family: 'BioRhyme', serif;
}

body{
  margin: 0;
  padding: 0;
  font-family:'BioRhyme', serif;
  font-size: 30px;

}
header{
  background: #ff9999;
  width: 100%
  padding: 40px 0;
  color: white;
  text-align: center;
}
a{
  text-decoration: none;
  color: inherit;
}
nav ul{
  background-color:#ff6666;
  overflow:hidden;
  color: white;
  padding:0;
  text-align:center;
  margin: 0;

}
nav ul li{
  display: inline-block;
  padding:35px;
}
section{
  line-height: 1.5em;
  font-size: 0.9em;
  padding: 40px;
  width: 75%
  margin: 0 auto;
}
nav ul li:hover{
  background-color: #ff9999
}
@media screen and (max-width: 580px){
  nav ul li{
    width:100%;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
  }
